.photo-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.photo-card .card-body {
  padding: 0;
}

.photo-card .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo-card .card-header,
.photo-card .card-footer {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.photo-card .card-header {
  top: 0;
}

.photo-card .card-footer {
  bottom: 0;
}

.photo-card:hover .card-header,
.photo-card:hover .card-footer {
  opacity: 1;
}

.photo-card .card-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photo-card .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button {
  color: black;
  border-radius: 10px;
}